html {
    font-size: 62.5%;
    font-family: sans-serif;
    height: 100%;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    background-position: 50%;
    background-repeat: no-repeat;
}
