html {
    font-size: 62.5%;
    font-family: sans-serif;
    font-weight: normal;
    height: 100%;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    -ms-overflow-style: scrollbar;
}

*, *:before, *:after {
    background-position: 50%;
    background-repeat: no-repeat;
    border-color: transparent;
    border-width: 0;
    border-style: solid;
}

/*
 * Change the alignment on media elements in all browers (opinionated).
 * https://github.com/jonathantneal/sanitize.css
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

button,
input,
select,
textarea {
    color: inherit;
    font: inherit;
}

button,
select {
	text-transform: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}
